@font-face{
    font-family: "google";
    src: url(googlesans.ttf);
}
body {
    margin:0px;
    padding: 0px;
    font-family:google;
    background-image: url("bg.png");
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
   position: sticky;
    top:0;
   box-shadow: 0px 0px 3px 0px rgb(0,0,0,0.5);
    z-index: 99;
}

nav ul {
    list-style-type:none;
    overflow: hidden;
    margin:0;
    padding: 0;
    background-color: white;
    
}

nav ul a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color:black;
    
}

nav ul a:hover {
    background-color: black;
    color:white;
    transition: 0.4s;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero {
   
    height: 100%;
    width: 100%;
    
}
.card {
    background-color: rgb(255,255,255,0.8);
    padding: 30px;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.4);
}
.gallery {
    padding:10px;
    display: flex;
    flex-wrap: wrap;  
    align-items: flex-start;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    
}

.image {
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
}

.content {
    border-radius: 7px;
    margin: 20px;
    min-height: 250px;
    padding: 10px;
    padding-left:15px;
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.5);
    display: flex;
    background-color: white;
    
}

.content img {
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
}

.half {
    flex:1;
    padding:10px;
}

.uparrow{
    border: solid black;
    display: inline-block;
    border-width: 0px 3px 3px 0px;
    transform: rotate(-135deg);
    padding: 4px;
    transition: all 0.3s ease 0s;
}

.uparrow:hover {
    border: solid red;
}
.white {
    background-color: white;
}

.gallery_container {
    padding-top:5px;
    margin: 20px;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.4);
    
}
#idk {
    position: relative;
    height: 100%;

    background:url(3.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay {
    position: absolute;
    padding: 10px;
    background-color: rgba(255,255,255,0.4);

    border: solid white;
    border-width: 4px ;
    border-radius: 10px;
}

.text {
    font-size: 30px;
    z-index: 2;
   
}

footer {
    height: 100px;
    background-color: white;
}

.pixel {
    color: white;
    height: 500px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    
    
    
}

.pixeltext{
    flex: 1;
}
.pixelimage{
    flex: 1;
    
}